@model dynamic
@{
    ViewBag.Title = "New";
}

<h2>New Rental Form</h2>



<form>
    <div class="form-group">
        <label>Customer</label>
        <input id="customer" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Movie</label>
        <input type="text" value="" class="form-control" />
    </div>

    <button class="btn btn-btn-primary">Submit</button>
</form>

@section scripts
{

     


    <script>

        var availableTags = [
            "ActionScript",
            "AppleScript",
            "AppleScripted",
            "AppleScripting",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#customer").autocomplete({
            source: availableTags
        }, {
            autoFocus: true,
            minLength: 2
        });

    </script>
}